<button class="btn btn-md btn-primary">Button 1</button>
<button class="btn btn-md btn-primary">Button 2</button>
<!-- <button class="btn btn-md btn-primary" id="showGrid" (click)="coreController.showGrid()">Show Grid</button> -->
<button class="btn btn-md btn-primary" id="showGrid" (click)="coreController.showGrid()">Show Grid</button>
<button class="btn btn-md btn-primary" id="hideGrid" (click)="coreController.hideGrid()">Hide Grid</button>
<!-- <button class="btn btn-md btn-primary" (click)="fireAction(true)">Button 5</button> -->